<p id="notice"><%= notice %></p>

<p>
  <strong>Creative name:</strong>
  <%= @creative.creative_name %>
</p>

<%= link_to 'Edit', edit_creative_path(@creative) %> |
<%= link_to 'Back', creatives_path %>
